<% provide(:title,'About') %>
<div class="row">
    <div class="center jumbotron">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10 col-md-offset-4 col-md-4">
                <div class="center row">
                        <div class="col-md-6"><%= image_tag "icons/logo-gray.png", width:150%></div>
                        <div class="col-md-6">
                            <h1>Coordinate</h1>
                            <h6><%=t('about_page.developer_stamp')%>, 2015</h6>
                        </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="row well">
    <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card hovercard">
            <div class="cardheader"></div>
            <div class="avatar">
                <%= image_tag "about_card/author.png", alt: "Andrey Nagorny"%>
            </div>
            <div class="info">
                <div class="title">
                    <a target="_blank" href="http://anagorny.com/"><%=t('author')%></a>
                </div>
                <div class="desc"><%=t('about_page.desc0')%></div>
                <div class="desc"><%=t('about_page.desc1')%></div>
                <div class="desc"><%=t('about_page.desc2')%></div>
                <div class="desc"><%= mail_to "mail@anagorny.com"%></div>
            </div>
            <div class="bottom">
                <%= link_to "https://plus.google.com/u/0/104487943714573192115", class:"btn btn-danger btn-sm btn-card",  target:"_blank" do %>
                <i class="fa fa-google-plus"></i>
                <%end%>
                <%= link_to "http://vk.com/id309409573", class:"btn btn-default btn-sm btn-card",  target:"_blank" do %>
                <i class="fa fa-vk"></i>
                <%end%>
                <%= link_to "https://github.com/Melancholic", class:"btn btn-primary btn-sm btn-card",  target:"_blank" do %>
                <i class="fa fa-github"></i>
                <%end%>
                <%= mail_to "mail@anagorny.com", class:"btn btn-primary btn-sm btn-card",  target:"_blank" do %>
                <i class="fa fa-envelope-o"></i>
                <%end%>
                <!--<a class="btn btn-primary btn-sm btn-card" rel="publisher" href="https://plus.google.com/shahnuralam">-->
                <%= link_to "http://anagorny.com", class:"btn btn-warning btn-sm btn-card", target:"_blank" do %>
                <i class="fa fa-globe"></i>
                <%end%>
                <!-- </a> -->       

            </div>
        </div>
    </div>
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 ">

    <div class='row well'>
        <div class='col-xs-12 col-md-12'>
            <%=t('about_page.p1_html')%>
            <%=t('about_page.p2_html')%>
            <%=t('about_page.p31_html')%>
          <%= t('about_page.p32_html', contact: link_to(t("here"), '#', data: {turbolinks: false, toggle: "modal", target: "#contact_modal"}), mail: mail_to("mail@anagorny.com", t("email"))) %>
            <%=t('about_page.p4_html')%>
        </div>

    </div>
    <div class='row well'>
        <div class="col-xs-12 col-sm-12">
            <%=t('about_page.p5_html')%>
        </div>
        <div class="col-xs-4 col-sm-2">
            <%=link_to "http://rubyonrails.org/",class:"thumbnail", target:"_blank" do%>
            <%= image_tag "partners/ror.jpg"%>
            <%end%>
        </div>
        <div class="col-xs-4 col-sm-2">
            <%=link_to "https://github.com/activeadmin/activeadmin",class:"thumbnail", target:"_blank" do%>
            <%= image_tag "partners/aa.png"%>
            <%end%>
        </div>
        <div class="col-xs-4 col-sm-2">
            <%=link_to "http://getbootstrap.com/",class:"thumbnail", target:"_blank" do%>
            <%= image_tag "partners/twitter-bootstrap.jpg"%>
            <%end%>
        </div>
        <div class="col-xs-4 col-sm-2">
            <%=link_to "http://bootsnipp.com/",class:"thumbnail", target:"_blank" do%>
            <%= image_tag "partners/bootsnipp.png"%>
            <%end%>
        </div>
        <div class="col-xs-4 col-sm-2">
            <%=link_to "https://www.mapbox.com/",class:"thumbnail", target:"_blank" do%>
            <%= image_tag "partners/mapbox.jpg"%>
            <%end%>
        </div>
        <div class="col-xs-4 col-sm-2">
            <%=link_to "http://leafletjs.com/",class:"thumbnail", target:"_blank" do%>
            <%= image_tag "partners/leaflet.png"%>
            <%end%>
        </div>
    </div>
</div>
</div>