<% provide(:title,'FAQ') %>
<div class="row" id="top">
    <div class="center jumbotron">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10 col-md-offset-4 col-md-4">
                <div class="center row">
                        <div class="col-md-6"><%= image_tag "icons/logo-gray.png", width:150%></div>
                        <div class="col-md-6">
                            <h1>FAQ</h1>
                        </div>
                </div>
            </div>
        </div>
    </div> 
</div>

<div class="row">
	<div class="col-md-3 col-md-push-9">
		<nav class="bs-docs-sidebar hidden-print" >
            <ul class="nav bs-docs-sidenav"  id="faq-navigator">
            </ul>     
          </nav>
	</div>
	<div class="col-md-9 col-md-pull-3 well">
		<%=render "shared/question", head: t('faq.q1h'), body:t('faq.q1b_html')%>
		<%if(signed_in?)%>
			<%=render "shared/question", head:t('faq.q2h'),
				body: t('faq.q2b_html', user:link_to(t("here"), edit_user_path(current_user), target:"_blank"), car:link_to(t("here"), new_car_path, target:"_blank"));%>
		<%else%>
            <%=render "shared/question", head:t('faq.q2h'), body: t('faq.q2_2b_html', signin:link_to(t("here"), "#", onclick:"sign_modal_call()"))%>
		<%end%>
		<%=render "shared/question", head:t('faq.q3h'),body:t('faq.q3b_html')%>
		<%=render "shared/question", head:t('faq.q4h'),body:t('faq.q4b_html')%>
		<%=render "shared/question", head:t('faq.q5h'),body:t('faq.q5b_html')%>
		<%=render "shared/question", head:t('faq.q6h'),body:t('faq.q6b_html')%>
		<%=render "shared/question", head:t('faq.q7h'),body:t('faq.q7b_html')%>
		<%=render "shared/question", head:t('faq.q8h'),
			body:t('faq.q8b_html', link:("(#{link_to t('here'), user_path(current_user), target:'_blank'})" if (signed_in?) )) %>
		<%=render "shared/question", head:t('faq.q9h'),
			body:t('faq.q9b_html', link:("(#{link_to 'here', root_path(), target:'_blank'})" if (signed_in?) )) %>
		<%=render "shared/question", head:t('faq.q10h'),
			body:t('faq.q10b_html', link: link_to(t('about'), about_path, target:'_blank'))%>	

	</div>


</div>