<%
    data||=[];
%>
<div id="notifications" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
$(function () {
    $('#notifications').highcharts({
        colors: ['#7CB5EC', '#434348', '#FFAA00', '#00AA00'],
        title: {
            text: 'Monthly share of the exceptions, <%=Time.now.year%>',
            x: -20 //center
        },
        xAxis: {
            categories: <%=raw data[0].as_json%>
        },
        yAxis: { 
            min: 0,
            title: {
                text: 'Exception count'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ''
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Not Fixed',
            data: <%=raw data[1].as_json%>
        }, {
            name: 'Fixed',
            data: <%=raw data[2].as_json%>
        }, {
            name: 'New',
            data: <%=raw data[3].as_json%>
        }, {
            name: 'All',
            data: <%=raw data[4].as_json%>
        }]
    });
});
</script>