<%# form - path to partial form%>
<%# id - id form %>
<%# title - title form %>
<%# run - bind run form to elem (auto - onload) %>

<%
  run||=nil
  remote||=false
%>

<% if (run == 'auto') %>
    <%= javascript_tag do %>
        $(document).on ("turbolinks:load", function (){
        $("#<%= id %>").modal('show');
        });
    <% end %>
<% end %>


<div class="modal fade" role="dialog" id="<%= id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <div class="modal-body">
        <%= render form, remote: remote %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
