      <div class="table-responsive" id="cars">
        <table class="table table-striped" >

          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Priority</th>
            <th>Color</th>
            <th>Created at</th>
            <th>Total tracks</th>
            <th>Last track</th>           
            <th>Actions</th>

          </tr>

          <% @cars.each do |x| %>
          <tr class="car_tooltip" title="..." data-item=<%="#{x.id}"%> >
            <td><%=car_image x, :small%></td>
            <td><strong><%=link_to x.title, x %></strong></td>
            <td><%=x.priority%></td>
            <td><%= color_to x.color %></td>
            <td><%=@user.local_time x.created_at%></td>
            <td><%=x.tracks.count%></td>
            <td><%=@user.local_time x.tracks.first.start_time unless x.tracks.empty?%></td>
            <td> 
              <%=edit_car_for x%>
              <%=delete_car_for x%>
            </td>
          </tr>

          <% end %>
        </table>

        <%= will_paginate @cars%>
      </div>
      <script>
      $( document ).ready(function(){
        $('.car_tooltip').tooltipster({
          contentAsHTML: true,
          functionInit: function(origin, content) {
            console.log();
            if (content === '...') {
              $.ajax({
                url: "<%=info_cars_path%>",
                dataType: 'json',
                async: true,
                data: {car_id : this.data('item')},
                success: function( data ) {
                  console.log(I18n.t)
                  origin.tooltipster('content',  '<b>'+I18n.t('map.avg_speed')+': </b>'+data['speed_avg']+'<br>'+
                    '<b>'+I18n.t('map.max_speed')+': </b>'+data['speed_max']+'<br>'+
                    '<b>'+I18n.t('map.total_distance')+': </b>'+data['total_tracks_length']+'<br>'+
                    '<b>'+I18n.t('map.max_distance')+': </b>'+data['max_track_length']+'<br>'+
                    '<b>'+I18n.t('map.total_duration')+': </b>'+data['total_tracks_duration']+'<br>'+
                    '<b>'+I18n.t('map.max_duration')+': </b>'+data['max_track_duration']+'<br>'+
                    '<b>'+I18n.t('map.min_duration')+': </b>'+data['min_track_duration']+'<br>'
                    )  
                }});
              
              
            // this returned string will overwrite the content of the tooltip for the time being
            return I18n.t('cars.tooltip.wait_message');
          }
          else {
            // return nothing : the initialization continues normally with its content unchanged.
          }
        }
      });
    });
      </script>