<div class="center jumbotron">
  <h1>Reset your password</h1>
  <h2>Enter your new password!</h2>
</div>
<div class="row ">
  <div class="col-xs-4 col-md-offset-4"> 
    <%= simple_form_for @user, :url=> resetpass_recive_pass_users_path(@user), :method=>:post do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input  :password,required: true %>
        <%= f.input  :password_confirmation,required: true %>
      </div>
        <div class="form-actions">
          <%= f.button :submit,"Reset password", class: "btn btn-large btn-primary" %>
        </div>
      <% end %>
  
  </div>
</div>
