<div class="center jumbotron">
  <h1><%=t(".head1")%></h1>
  <h2><%=t(".head2")%></h2>
</div>
<div class="row ">
  <div class ="col-sm-offset-3 col-sm-4">  
    <%= form_tag("recive_email_for_reset_pass",method: "post", class:'inline-form') do  %>
      <div class="form-inputs">
        <div class="form-group">
          <div class="input-group ">
            <span class="input-group-addon">@</span>
            <%= text_field_tag(:email,nil, class:"form-control",placeholder:"Email") %>
          </div>
        </div>
       </div>
      </div>
      <%= submit_tag( t("send_but"), class: "btn btn-default") %>
    <% end %>
  </div>
</div>
