<% provide(:title,@user.login)%>
<div class="center jumbotron container">
 <div class="row">
  <div class ="col-md-4">
    <%= link_to avatar_for(@user, :normal, class: 'img-rounded'), @user %>
  </div>
  <div class="col-md-4">
    <h1><%=@user.login%></h1>  
    <h2><%= @user.full_name %> </h2>
    <h5><%=mail_to @user.email%></h5>
    <h5> <%=@user.full_region%></h5>
    <%= link_to 'Edit information', edit_user_path(@user), class:"btn btn-default btn-xs" %>
  </div>
</div>
</div> 

<div class="container">
  <% if (@user.cars.empty?)%>
  <%= render 'shared/empty_message', msg:"You have not added any car!",
  sub_msg:"You can go into the settings and add your car right now.",
  target_url: new_car_path %>
  <%else%>
  <div class="row">
    <div class="col-md-12 well" id="content">
      <%= render 'cars'%>
    </div>
  </div>
  <%end%>
  <%if @user.all_tracks.count>0 %>
    <%= render "users_charts"%>
  <%else%>
  <%= render 'shared/empty_message',
  msg:"You have not made a of one track...",
  sub_msg:"Learn how bind a tracker to your car!",
  but_msg: "to FAQ",
  target_url: faq_path
  %>
  <%end%>
</div>
