<%@user||=current_user %>
<div class="col-md-2">
	<ul class="nav nav-pills nav-stacked">
		<li <%="class=active" if current_page?(edit_user_path(@user))%> >
			<a href="<%=edit_user_path(@user)%>" ><%=t('.user_settings')%></a> </li>
			<li >
				<a data-turbolinks="false" href="#"  id="cars_set"><%=t('.car_settings')%></a>
			</li>
			<li>
				<div class="col-md-12 " id="cars_child">
					<ul class="nav nav-pills nav-stacked">
						<li <%="class=active" if current_page?(cars_path)%> >
							<a href="<%=cars_path%>" ><%=t('.my_cars')%></a> 
						</li>
						<li  <%="class=active" if current_page?(new_car_path) %> >
							<a href="<%=new_car_path%>"><%=t('.new_cars')%></a>
						</li>
					</ul>
				</div>
			</li>
		</li>
	</ul>
</div>
<script>
$(function(){
	<%if controller_name!='cars' %>
		$('#cars_child').hide();
	<%else%>
		$('#cars_child').show();
	<%end%>
    $('#cars_set').click(function(){
        $('#cars_child').stop().slideToggle();
    });
});
</script>