<div class="row all_info">
  <div class="col-md-12">
    <h3> <%= t('.head')%></h3>
    <table class="table table-striped" >
      <tr>
        <td><strong> <%= t('map.total_distance')%>:</strong></td>
        <td><%=@distances%> <%=t('distance_val')%></td>
      </tr>
      <tr>
        <td><strong> <%= t('map.max_distance')%>:</strong></td>
        <td><%=@max_distance%> <%=t('distance_val')%></td>
      </tr>
      <tr>
        <td><strong> <%= t('map.min_distance')%>:</strong></td>
        <td><%=@min_distance%> <%=t('distance_val')%></td>
      </tr>
      <tr>
        <td><strong> <%= t('map.total_duration')%>:</strong></td>
        <td><%=@durations%></td>
      </tr>
      <tr>
        <td><strong> <%= t('map.max_duration')%>:</strong></td>
        <td><%=@max_duration%></td>
      </tr>
      <tr>
        <td><strong> <%= t('map.min_duration')%>:</strong></td>
        <td><%=@min_duration%></td>
      </tr>
      <tr>
        <td><strong> <%= t('map.max_speed')%>:</strong></td>
        <td><%=@max_speed%> <%=t('speed_val')%></td>
      </tr>
      <tr>
        <td><strong> <%= t('map.avg_speed')%>:</strong></td>
        <td><%=@avg_speed%> <%=t('speed_val')%></td>
      </tr>                 
    </table>
  </div>
</div>