<div class="row">
  <div class="col-md-4">
    <h3> General statistic of track <%="<##{@track.id}>"%> </h3>
    <table class="table table-striped" >
      <tr>
        <td><strong>Distance:</strong></td>
        <td><%=@distance%> km</td>
      </tr>
      <tr>
        <td><strong>Duration:</strong></td>
        <td><%=@duration%></td>
      </tr>
      <tr>
        <td><strong>Max Speed:</strong></td>
        <td><%=@max_speed%> km/h</td>
      </tr>
      <tr>
        <td><strong>Avarage Speed:</strong></td>
        <td><%=@avg_speed%> km/h</td>
      </tr>
      <tr>
        <td><strong>Time start:</strong></td>
        <td><%=@start_time.strftime("%d.%m.%Y %T (%Z)")%></td>
      </tr>
      <tr>
        <td><strong>Time end:</strong></td>
        <td><%=@stop_time.strftime("%d.%m.%Y %T (%Z)")%></td>
      </tr>                  
    </table>
  </div>
  <div class="col-md-8">
    <%= render 'info_chart'%>
  </div>
</div>