<div class="row">
  <div class="col-md-4">
    <h3> <%= t('.head', track:"<##{@track.id}>")%> </h3>
    <table class="table table-striped" >
      <tr>
        <td><strong><%=t('map.distance')%>:</strong></td>
        <td><%=@distance%> <%=t('distance_val')%></td>
      </tr>
      <tr>
        <td><strong><%=t('map.duration')%>:</strong></td>
        <td><%=@duration%></td>
      </tr>
      <tr>
        <td><strong><%=t('map.max_speed')%>:</strong></td>
        <td><%=@max_speed%> <%=t('speed_val')%></td>
      </tr>
      <tr>
        <td><strong><%=t('map.avg_speed')%>:</strong></td>
        <td><%=@avg_speed%> <%=t('speed_val')%></td>
      </tr>
      <tr>
        <td><strong><%=t('map.start_time')%>:</strong></td>
        <td><%=@start_time.strftime("%d.%m.%Y %T (%Z)")%></td>
      </tr>
      <tr>
        <td><strong><%=t('map.end_time')%>:</strong></td>
        <td><%=@stop_time.strftime("%d.%m.%Y %T (%Z)")%></td>
      </tr>                  
    </table>
  </div>
  <div class="col-md-8">
    <%= render 'info_chart'%>
  </div>
</div>