<div class="row all_info">
  <div class="col-md-12">
    <h3> General statistic of all selected track </h3>
    <table class="table table-striped" >
      <tr>
        <td><strong>Total distance:</strong></td>
        <td><%=@distances%> km</td>
      </tr>
      <tr>
        <td><strong>Max distance:</strong></td>
        <td><%=@max_distance%> km</td>
      </tr>
      <tr>
        <td><strong>Min distance:</strong></td>
        <td><%=@min_distance%> km</td>
      </tr>
      <tr>
        <td><strong>Total duration:</strong></td>
        <td><%=@durations%></td>
      </tr>
      <tr>
        <td><strong>Max duration:</strong></td>
        <td><%=@max_duration%></td>
      </tr>
      <tr>
        <td><strong>Min duration:</strong></td>
        <td><%=@min_duration%></td>
      </tr>
      <tr>
        <td><strong>Max Speed:</strong></td>
        <td><%=@max_speed%> km/h</td>
      </tr>
      <tr>
        <td><strong>Avarage Speed:</strong></td>
        <td><%=@avg_speed%> km/h</td>
      </tr>                 
    </table>
  </div>
</div>