
<%show ||=false %>
<div class='row <%='car-infos' unless show%> <%="car#{car.id}"%>'>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><%=t('.head1')%></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <strong><h2><%=car.title%></h2></strong><br>
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                        <%= car_image car, :medium%>
                    </div>

                    <div class="col-xs-10 col-sm-8 hidden-md hidden-lg">
                        
                        <dl>
                            <dt><%=t('.color')%>:</dt>
                            <dd><%=color_to car%></dd>
                            <dt><%=t('.priority')%>:</dt>
                            <dd><%=car.priority%></dd>
                            <dt><%=t('.created_at')%>:</dt>
                            <dd><%=car.created_at.in_time_zone(car.user.time_zone).strftime("%d/%m/%Y")%></dd>
                            <dt><%=t('.total_tracks')%>:</dt>
                            <dd><%=car.tracks.count%></dd>
                            <% if !car.tracks.empty? && !car.tracks.first.track_locations.empty? %>
                            <dt><%=t('.last_loc')%>:</dt>
                            <dd><%=car.tracks.first.track_locations.last.time
                            .in_time_zone(car.user.time_zone).strftime("%d/%m/%Y %H:%M:%S")%></td></dd>
                            <%end%>   
                            <dt><%=t('.uuid')%>:</dt>
                            <dd><%=car.tracker_uuid%></dd>                                
                            <dt><%=t('.description')%>:</dt>
                            <dd><%=car.description%></dd>
                        </dl>
                    </div>
                    <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                        <table class="table table-car-information" >
                            <tbody>
                                <tr>
                                    <td><%=t('.color')%>:</td>
                                    <td ><%=color_to car%></td>
                                </tr>
                                <tr>
                                    <td><%=t('.priority')%>:</td>
                                    <td ><%=car.priority%></td>
                                </tr>
                                <tr>
                                    <td class="col-md-4"><%=t('.created_at')%>:</td>
                                    <td class="col-md-12"><%=car.created_at.in_time_zone(car.user.time_zone).strftime("%d/%m/%Y")%></td>
                                </tr>
                                <tr>
                                    <td><%=t('.total_tracks')%>:</td>
                                    <td><%=car.tracks.count%></td>
                                </tr>
                                <% if !car.tracks.empty? && !car.tracks.first.track_locations.empty? %>
                                <tr>
                                    <td><%=t('.last_loc')%>:</td>
                                    <td><%=car.tracks.first.track_locations.last.time
                                    .in_time_zone(car.user.time_zone).strftime("%d/%m/%Y %H:%M:%S")%></td>
                                </tr>   
                                <%end%>                                 
                                <tr>
                                    <td><%=t('.uuid')%>:</td>
                                    <td><%=car.tracker_uuid%></td>
                                </tr>                                    
                                <tr>
                                    <td><%=t('.description')%>:</td>
                                    <td ><%=car.description%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-sm btn-primary" type="button"
                data-toggle="tooltip"
                data-original-title="Import data"
                ><i class="glyphicon glyphicon-save"></i></button>
                <span class="pull-right">
                    <%= edit_car_for car %>
                    <%= delete_car_for car %>
                </span>
            </div>
        </div>
    </div>
</div>
