<div class="col-md-12" id="new_car_form">
	<%@user ||=current_user %>      
	<%= simple_form_for(@car, class:"form-horizontal") do |f| %>
	<div class="col-sm-5 col-md-4">
		<div class="text-center">
			<section>
				<%= car_image(@car,:normal, class:"img-rounded img-responsitive") %>
			</section>
			<h3><%=t(".upload_text")%></h3>

			<%= f.simple_fields_for :image, f.object.image || f.object.build_image do |i| %>
			<%=i.input :img, label: false, input_html:{class:"form-control"}%>
			<%= i.input  :_destroy, as: :boolean, label:t(".img_destroy_txt"), hint:t(".img_destroy_hint") %>
			<%end%>
		</div>
	</div>
	<div class="col-sm-7 col-md-offset-1 col-md-5 personal-info">
		<div class="row">
			<%= f.input(:title) %>
		</div>
		<div class="row">
			<div class="col-md-4">
				<%=f.input :color,  as: :select do
					f.select :color, Color.select_array
					end%>
				</div>	
				<div class="col-md-4">
					<%= f.input :priority%>
				</div>
			</div>
			<div class="row">
				<%= f.input :description, as: :text, input_html: {rows: 5, 
					:onkeyup =>"length_check(#{Car::DescriptionLength}, 'car_description', 'counter')",
					:onclick =>"length_check(#{Car::DescriptionLength}, 'car_description', 'counter')" }%>
				<span id="counter"> <%= 180-((@car.description.nil?)? 0 : @car.description.length) %> / <%= Car::DescriptionLength %></span>
			</div>
			<div class=" center row">
				<%= f.button :submit, t('save_but'),class:"btn btn-primary" %>
			</div>
		<% end %>
	</div>
</div>

<%= javascript_tag do%>
	$("#car_priority").slider();
<%end%>